<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carbonjava">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarbonJava">
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".SudokuActivity"
            android:exported="true" />
        <activity
            android:name=".SmartGames"
            android:exported="true" />
        <activity
            android:name=".TickTack"
            android:exported="true" />

        <service
            android:name=".NotificationService"
            android:exported="false" />
        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".BarActivityWelcome"
            android:exported="true"
            android:label="@string/title_activity_bar_welcome"
            android:theme="@style/Theme.CarbonJava.NoActionBar" />
        <activity
            android:name=".ForgotActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileCamera"
            android:exported="true" />
        <activity
            android:name=".ArrayListActivity1"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomePG"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".InterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>